
/* =============================================================================
   User modular styles
   ========================================================================== */

/* XXXXXXXXXXXX  Accents Color  XXXXXXXXXXXXXX */

.no-js #footerwrap ul li a:hover{
color:#fafafa;
}
::-moz-selection {
background:#A7C1D9;
}
::selection {
background:#A7C1D9;
}
p a,blockquote,a.superbutton:hover,a.superbutton.selected,.no-js #footerwrap ul li a:hover,.gs_12 .thedash,.gs_11 .thedash,.gs_10 .thedash,.gs_9 .thedash,.gs_8 .thedash,.gs_7 .thedash,.gs_6 .thedash{
border-color:#A7C1D9;
}
#menus li.current a,#menus li a:hover,#menus > li.current-hover > a,#menus li ul{
border-left-color:#A7C1D9;
}
#menus li ul li a:hover,.sloganbox > h2 a:hover,.sloganbox > h3 a:hover,.pagination .current,.pagination a:hover,.no-js form.subscribe-form input[type="submit"]:hover{
border-bottom-color:#A7C1D9;
}
ul.sidebar .widget_search input[type="text"]:focus,form.subscribe-form input[type="text"]:focus,.no-js form.subscribe-form input[type="text"]:hover{
border-bottom:1px solid #A7C1D9 !important;
}
#menus li ul li.current-hover > a{
border-color:#A7C1D9 !important;
}
a:hover,h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.dropcapcolor,.sloganbox > h2 a,.sloganbox > h3 a,p.postinfo a:hover,.twitbox ul.tweet_list li a:hover,.twitbox ul.tweet_list li span.tweet_time a:hover,#HAL p,.pdesc a:hover,.portfolioitemwrap .pinfohead a:hover,.copyrights a:hover,#footerwrap .bottommenus li a:hover{
color:#A7C1D9;
}
.dropcapspot,a.superbutton:hover,a.superbutton.selected,#ev_portfolio_type01 #portf2items > div a + a:hover h5,#main .contactform input[type="button"]{
background-color:#A7C1D9;
}
#HAL .insides{
background:#A7C1D9;
box-shadow:0 0 20px #A7C1D9;
}
a.superbutton{
color:#fafafa;
}
#main .contactform input[type="text"]:focus,#main .contactform textarea:focus{
border-color:#b8babf !important;
border-bottom-color:#A7C1D9 !important;
}
#main .contactform input[type="button"]{
border-color:#A7C1D9;
color:#ffffff;
}
#main .contactform input[type="button"]:hover{
border-bottom-color:#A7C1D9;
}

/* XXXXXXXXXXXX  Contrast Color  XXXXXXXXXXXXXX */

p.postinfo,.superpostbox p.postinfo,.twitbox p.loading,.twitbox ul.tweet_list li,ul.sidebar .widgettitle,ul.sidebar .widget_search input[type="text"]{
color:#593325;
}
body,a.superbutton,.fancybox h2 > span,#main .contactform input[type="button"]:hover,#header,#menus li ul,#menus li ul li ul,#menus li ul li.hassubmenu > a,#menus.fixed li ul li.hassubmenu > a,#collage li a h5,.textboxleft h5 span,.fancybox h2 span,.fancybox h2>span,#portf2items a h5,#portf2items div.ds_zoomer_pic,#portf2items div.ds_zoomer_vid,#portf2items div.ds_zoomer_more,#footerwrap,form.subscribe-form input[type="text"],#footer ul.icons li a:hover{
background-color:#593325;
}
#main .contactform input[type="button"]:hover{
border-color:#593325;
}
a.superbutton:hover,a.superbutton.selected,#main .contactform input[type="button"],#slider,#collage{
border-bottom-color:#593325;
}
a.superbutton{
border-top-color:#593325;
}

/* Slightly lighter Contrast Color 1 */
form.subscribe-form input[type="submit"],.copyrights,#menus li ul li a:hover,#footerwrap ul li a:hover,.gs_12 .thedash, .gs_11 .thedash,.gs_10 .thedash,.gs_9 .thedash,.gs_8 .thedash,.gs_7 .thedash,.gs_6 .thedash{
background-color:#663B2B;
}
#menus li ul li.current-hover > a{
background-color:#663B2B !important;
}

/* Slightly lighter Contrast Color 2 */
#menus li ul li:first-child,.copyrights{
border-top-color:#734230;
}
#menus li ul li a,#footerwrap ul li a,#footerwrap .widgettitle{
border-bottom-color:#734230;
}
#footerwrap .bottommenus li{
border-left-color:#734230;
}
form.subscribe-form input[type="text"],form.subscribe-form input[type="submit"]{
border-color:#734230;
}
#menus li ul li.hassubmenu > a{
background-image:url("./utility_sprite.png");
}

/* Slightly darker Contrast Color */
.copyrights{
box-shadow:0px -2px #4C2C20;
}
form.subscribe-form input[type="text"]:focus,.no-js form.subscribe-form input[type="text"]:hover{
background:#4C2C20 !important;
}
form.subscribe-form input[type="submit"]{
text-shadow:1px 1px #4C2C20;
}

/* Text Contrast Color 1 */
#menus li a > span:first-child,#footerwrap .widgettitle,#footerwrap strong,#footerwrap p,#collage li a h5,#footerwrap ul li,.textboxleft h5 span,.fancybox h2 span{
color:#F2EFDC;
}
form.subscribe-form input[type="text"]:focus,.no-js form.subscribe-form input[type="text"]:hover{
color:#F2EFDC !important;
}
#menus li a{
border-left-color:#F2EFDC;
}

/* Text Contrast Color 2 */
#menus li ul li a,#footerwrap ul li a,.copyrights a,form.subscribe-form input[type="text"],form.subscribe-form input[type="submit"]{
color:#E5E3D1;
}

/* Text Contrast Color 3 */
#menus li a > span,#footerwrap small{
color:#D9D7C5;
}


/* XXXXXXXXXXXX  Main block Color  XXXXXXXXXXXXXX */

/* Main Color #FDFDFD */
#mainwrap,#dstable td.even,ul.sidebar li ul li a,ul.sidebar .widget_search input[type="submit"],.postwrap > h2, .textboxright > h2,#header + #entertainerwrap.slider,#header.supermenu + #entertainerwrap.slider{
background-color:#F2EAD0;
background-image:url("./utility_sprite.png");
}
/* Main Color - Lighter #F7F7F7 */
ul.sidebar li ul li a:hover,#dstable td.odd,#main .ds_tabber,#main div.toggler,#main pre,#main code,ul.tabber li:hover,ul.tabber li.selected, ul.sidebar li ul li.current_page_item a,.pagination a:hover{
background-color:#FFF7DB;
}
#main .ds_tabber,ul.tabber li{
box-shadow: 0 0px 2px #FFF7DB inset;
}
/* Main Color - Darker #D0D3D9 */
.sloganbox,#main hr,#main div.toggler,#main .ds_tabber,#main pre,img.border_magic,iframe.border_magic,#main .contactform input[type="text"],#main .contactform textarea,div.border_magic,ul.tabber li,ul.tabber li:hover,ul.tabber li.selected,#main code,.pagination span, .pagination a,.postwrap,p.postinfo,.textboxright,.textboxleft h5+h5,.fancybox h2 + h2,.hr,ul.sidebar li ul li a,ul.sidebar .widget_search input[type="text"],ul.sidebar li ul,ul.sidebar .widget_search input[type="submit"]{
border-color:#D9D3BA;
}
#main div.toggler{
box-shadow: 0 1px 3px #D9D3BA inset;
}
ul.tabber li,#dstable th.tablecol, #dstable td.tableid{
background-color:#D9D3BA;
}
/* Main Color - Darker 2 #b8babf */
#dstable th.tablecol, #dstable td.tableid, #dstable td.even, #dstable td.odd,#dstable td.first,#dstable td.last{
border-color:#C7C1AB;
}
#main .contactform input[type="text"]:focus, #main .contactform textarea:focus {
border-color: #C7C1AB #C7C1AB #575949 !important;
}

/* Text Main Color 1 #0c0c0c */
#main .sloganbox > h2,#main .sloganbox > h3,#main .sloganbox > h2 a,#main .sloganbox > h3 a,.pagination .current{
color:#4A4C3E;
}
/* Text Main Color 2 #43484C */
.fancybox h2 + h2,#main pre,#main code,#main a,#main h1,#main h2,#main h3,#main h4,#main h5,#main h6,#main ul.sidebar p strong{
color:#575949;
}
#main a:hover,#main .sloganbox > h2 a:hover,#main .sloganbox > h3 a:hover{
color:#A7C1D9; /* preserve onhover color (accents color) */
}
/* Text Main Color 3 #747880 */
#main p,.postwrap > h2 span,#main .pagination a:hover,#main ul.tabber li a:hover,.pagination span, .pagination a, .textboxright > h2 span,#main h1 span, #main h2 span, #main h3 span, #main h4 span, #main h5 span, #main h6 span,body #main, #main button, #main input, #main select, #main textarea{
color:#636654;
}

/* =============================================================================
   ///User modular styles
   ========================================================================== */
   
