/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: http//www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; /* ie8 */
}

.res-content{
	display: none;
	background: #ffffff;
	margin: 20px;
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}
.box{
	
}
.res-heading{
	background: url("../images/bg-heading.png") repeat-x 50%;
	color: #669C13;
	font-size: 25px;
	padding: 5px 10px;
	margin: 20px;
}
.res-heading h2{
	background: #ffffff;
	display: inline-block;
	margin-left: 10px;
	padding: 0px 15px;
}

------------------------

@media only screen and (max-width: 979px) {
}
@media only screen and (max-width: 820px){
	#content{display: none;}
	.res-content{display: block;}
	.main{width: 100%;}
}
@media only screen and (max-width: 600px) {
	#ContactForm {width:238px;}
	#ContactForm span {width:67px;}
	#ContactForm .input {width:157px;}
	#ContactForm textarea {width:157px;}
}
@media only screen and (max-width: 420px) {
	.res-content figure{float: none; display:inline;}
	#ContactForm {width:208px;}
	#ContactForm span {width:67px;}
	#ContactForm .input {width:127px;}
	#ContactForm textarea {width:127px;}
}