@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
}
.liu {
	color: #555;
}
.orange {
	color: #d74208;
}
.shisi {
	font-size: 14px;
}
.bold {
	font-weight: bold;
}

.lanse {
	color: #265a7f;
}
.nav {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.red {
	color: #D20000;
}
.black {
	color: #000000;
}
.wb {
	height: 16px;
	width: 125px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.wb1 {
	height: 16px;
	width: 60px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.anhong {
	color: #8a2812;
}
.lvse {
	color: #067900;
}
.bianxu {
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #bcb9b9;
}
.sibian {
	border: 1px solid #5e95c5;
}
.sanbian {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #5e95c5;
	border-bottom-color: #5e95c5;
	border-left-color: #5e95c5;
}
.baise {
	color: #FFFFFF;
}
.wb2 {
	height: 16px;
	width: 170px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
}
.sibian2 {
	border: 1px solid #d4d4d4;
}
.wb3 {
	height: 22px;
	width: 250px;
	border: 1px solid #067900;
}
.wb4 {
	height: 22px;
	width: 200px;
	border: 1px solid #067900;
}
.wb5 {
	height: 22px;
	width: 120px;
	border: 1px solid #067900;
}
.juhong {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #F74F0F;
}
.wb6 {
	height: 18px;
	width: 95px;
	border: 1px solid #067900;
}
.kuang {
	border: 1px solid #D74208;
}
.qianlv {
	border: 1px solid #8ac204;
}
.hanggao {
	line-height: 17px;
}
.jiacu {
	font-weight: bold;
	color: #CC6600;
}
.xuxian {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333333;
}
.wb7 {
	height: 16px;
	width: 150px;
	border: 1px solid #067900;
}
.wb8 {
	height: 18px;
	width: 50px;
	border: 1px solid #067900;
}
.wb9 {
	height: 16px;
	width: 220px;
	border: 1px solid #067900;
}
.hg {
	line-height: 25px;
}
.menu a:link {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.menu a:visited {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.menu a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.login a:link {
	font-weight: bolder;
	color: #d74208;
	text-decoration: none;
}
.login a:visited {
	font-weight: bold;
	color: #d74208;
	text-decoration: none;
}
.login a:hover {
	font-weight: bold;
	color: #d74208;
	text-decoration: none;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
.xuxian2 {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
.jjj {
	font-size: 13px;
	color: #FE6603;
}
.hongse {
	font-weight: bold;
	color: #FF0000;
	font-size: 13px;
}
